txt_data/*
csv_data/
data/*
!data/metro_vancouver_land_poly.geojson
!data/bridges.geojson
output/*.geojson
.venv/
__pycache__/
tempCodeRunnerFile.py
testing.ipynb
transfers_process.py
geoprocessing.py
rsconnect-python/*
.rscignore